body {
  background: #2A2C33;
  font-family: Arial; }

.join-game {
  background: rgba(0, 0, 0, 0.25);
  border-radius: .5em;
  padding: 2em;
  position: absolute;
  left: 50%;
  top: 50%; }
  .join-game input[type="text"] {
    background: rgba(0, 0, 0, 0.5);
    border: 0;
    color: #fff;
    padding: .5em; }
